*, *::before, *::after {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
  -webkit-user-drag: none;   /* Disable drag for webkit browsers */
  margin: 0;
  background: lighten($color-dark, 72%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
